# Виртуальное окружение
Lib/
Scripts/
Include/
pyvenv.cfg
share/
.vscode/
venv/

# Python
__pycache__/
*.py[cod]

# Тесты и кэш
.pytest_cache/
.coverage
htmlcov/
classifier/tests/ram_test.py
classifier/tests/test_images/*
!classifier/tests/test_images/.gitkeep

# Логи
*.log
logs/

# Веса модели
classifier/classifier/data/model_weights/*
!classifier/classifier/data/model_weights/.gitkeep
disease/models/*
!disease/models/.gitkeep

# docker
classifier/Dockerfile
backend/Dockerfile
docker-compose.yml

#БД
database/*
!database/.gitkeep

# Остальное
*_temp*  # Например, временные файлы